[loggers]
keys=root,healer,heal,amqp

[handlers]
keys=consoleHandler

[formatters]
keys=jsonFormatter

[logger_root]
level=WARNING
handlers=consoleHandler

[logger_amqp]
level=WARNING
handlers=consoleHandler
qualname=amqp
propagate=0

[logger_healer]
level=DEBUG
handlers=consoleHandler
qualname=contrail_healer.healer
propagate=0

[logger_heal]
level=DEBUG
handlers=consoleHandler
qualname=contrail_healer.heal
propagate=0

[handler_consoleHandler]
class=StreamHandler
formatter=jsonFormatter
args=(sys.stdout,)

[formatter_jsonFormatter]
class=pythonjsonlogger.jsonlogger.JsonFormatter
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
